body{
    margin: 0px;
    padding: 0px;
    min-height: 200vh;
    overflow: auto;
}
.navbar{
    background-color: #0f0909;
    overflow: hidden;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li {
    float: right;
    padding: 0px;  
    margin: 5px;
}
img{
    position: absolute;
    width: 500px;
    height:auto;
    z-index: -1;
}
h1{
    position: relative;
    text-align: left;
    color: skyblue;
    font-size: medium;
}