body{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}
.color{
    background-color: blueviolet;
    color: white;  
}
.no{
    color: white;
    border: 5px solid black;   
}
#btn{
    background-color: red;
    color: white;
    border: 5px solid red;
    border-radius: 10px;
}
#btn2{
    background-color: red;
    color: white;
    border: 5px solid red;
    border-radius: 10px;
}   