body{
    margin: 0px;
    padding: 0px;
    min-height: 200vh;
    overflow: auto;
}
.navbar{
    background-color: #ab9292;
    overflow: hidden;
}
.list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li{
    float: left;
    padding: 10px;
}
img{
    position: absolute;
    width: 500px;
    height:auto;
    z-index: -1;
}
h1{
    position: relative;
    text-align: left;
    color: skyblue;
    font-size: medium;
}